[Desktop Entry]
Name=Standard Time
Exec=/home/manu/Projects/pyst/pyst.py /media/NTFS/st24_crf22.mp4
GenericName=Standard Time
Type=Application
Categories=Utility
Icon=/home/manu/Projects/pyst/standard-time.png

