[Desktop Entry]
Name=Standart Time
Exec=/home/manu/Projects/pyst/pyst.py /home/manu/Téléchargements/st24.mov
GenericName=Standart Time
Type=Application
Categories=Utility
Icon=/home/manu/Projects/pyst/standard-time.png

